*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(51, 49, 49);
}
.mainContent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}
.containerPrincipal .textPrincipal{
    font-size: 3rem;
}
.containerPrincipal .textPrincipal span{
    color: rgb(31, 220, 220);
}
.containerPrincipal .textSecundaryPagPrincipal{
    margin: 1rem;
}
.containerPrincipal .empezar{
    padding: 1rem 3rem;
    color: white;
    background-color: rgb(31, 220, 220);
    border: none;
    border-radius: 5px;
}
.containerNivelCalidad{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.containerNivelCalidad h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.containerNivelCalidad picture img{
    width: 100%;
}
.containerNivelCalidad article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    cursor: pointer;
}
.containerNivelCalidad article section:hover{
    background-color: gray;
    transform: translateY(-10px);
}
.containerNivelCalidad article .text{
    text-align: center;
    color: white;
    font-size: 1rem;
}
nivel-calidad{
    display: flex;
    justify-content: center;
}
.containers{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.containers h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.containers picture img{
    width: 100%;
}
.containers article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    cursor: pointer;
}
.containers article section:hover{
    background-color: gray;
    transform: translateY(-10px);
}
.containers article .text{
    text-align: center;
    color: white;
    font-size: 1rem;
}
tipo-app{
    display: flex;
    justify-content: center;
}
diseño-app, monetizacion-app, autenticacion-app{
    display: flex;
    justify-content: center;
}
.resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resumen p{
    color: white;
    font-size: 1.2rem;
}
.resumen h4{
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.resumen .redesSociales i{
    color: white;
}
.resumen .redesSociales button{
    padding: 0.2rem;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.resumen .redesSociales .facebook{
    background-color: rgb(7, 7, 209);
}
.resumen .redesSociales .linkedin{
    background-color: rgb(61, 61, 247);
}
.resumen .redesSociales .Google{
    background-color: rgb(249, 10, 10);
}
.resumen .redesSociales .twitter{
    background-color: rgb(84, 196, 240);
}
.resumen h3{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.resumen h1{
    color: rgb(31, 220, 220);
    font-size: 3rem;
}
.resumen a{
    list-style: none;
    color: white;
    margin: 1.3rem 0rem;
}
.resumen #terminar{
    padding: 1rem 3rem;
    color: white;
    background-color: rgb(31, 220, 220);
    border: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
}