*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(51, 49, 49);
}
.mainContent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}
.containerPrincipal .textPrincipal{
    font-size: 3rem;
}
.containerPrincipal .textPrincipal span{
    color: rgb(31, 220, 220);
}
.containerPrincipal .textSecundaryPagPrincipal{
    margin: 1rem;
}
.containerPrincipal .empezar{
    padding: 1rem 3rem;
    color: white;
    background-color: rgb(31, 220, 220);
    border: none;
    border-radius: 5px;
}
.containerNivelCalidad{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.containerNivelCalidad h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.containerNivelCalidad picture img{
    width: 100%;
}
.containerNivelCalidad article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    cursor: pointer;
}
.containerNivelCalidad article section:hover{
    background-color: gray;
    transform: translateY(-10px);
}
.containerNivelCalidad article .text{
    text-align: center;
    color: white;
    font-size: 1rem;
}
nivel-calidad{
    display: flex;
    justify-content: center;
}